{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Curious Cows</title>
</head>

<body>

  <div class="header">
    <a href="/">
      <h1>Curious Cows</h1>
      <h2>One Byte at a Time</h2>
    </a>
  </div>

  <div class="main">

    <h2>We're sorry, an error occurred. Please try again.</h2>

  </div>


  <div class="footer">
    <h4>&#169; 2024 Curious Cows</h4>
  </div>


</body>

</html>