@font-face {
  font-family: "catchy";
  src: url("catchy-mager-regular.ttf") format("truetype");
}

body {
  font-family: "catchy";
  overflow-x: hidden;
  letter-spacing: 1px;
  background-color: #d2e3c3;
}

/* header */

img {
  float: left;
  margin-right: 10px;
}

.header {
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
}

.header a {
  color: black;
  text-decoration: none;
  font-style: italic;
}

.header h1 {
  margin-top: 5px;
  float: left;
}

.header h2 {
  font-weight: 100;
  font-size: 20px;
}

/* form */

.feedback {
  color: rgb(186, 17, 17);
  font-weight: 900;
}

.form {
  background-color: #b8cda5;
  width: 40vw;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: left;
  padding-bottom: 25px;
}

.form h2 {
  text-align: center;
}

.form h3 {
  font-family: serif;
  font-weight: 200;
}

.label-input {
  margin-top: 40px;
  margin-left: 60px;
}

.label-input p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.instruct {
  font-size: 11px;
}

.label-input input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  border: none;
  height: 20px;
}

.submit {
  margin-top: 40px;
  border: none;
  background-color: white;
  height: 30px;
  width: 20%;
  border-radius: 10px;
  margin-right: 40%;
  margin-left: 40%;
  font-family: "catchy";
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(155, 201, 178);
  color: white;
}

/* main page */

.italic {
  font-style: italic;
}

.main {
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}

.hidden {
  display: none;
}

.link {
  margin-bottom: 5%;
}

a {
  color: rgb(40, 86, 63);
}

.footer {
  text-align: center;
  padding: 20px;
}

.footer h4,
.footer h5 {
  font-weight: 200;
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 10%;
  }

  .submit {
    width: 50%;
    margin-right: 32.5%;
    margin-left: 32.5%;
    color: rgb(40, 86, 63);
  }

  .form {
    width: 60vw;
  }
}